* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.YearsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  /* background-color: green; */
}

.Year {
  margin: 0 auto;
  /* background-color: red; */

  margin: 2px;
}
input {
  background-color: rgb(226, 226, 226);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f8fafc, #bbc2d8);

  /*   background-image: url("../../assets/wall3.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.Months {
  max-width: 1080px;
  min-width: 330px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  margin-bottom: 20px;
  background-color: rgb(108, 124, 255);
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  color: #fff;
}

.Day {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.days {
  padding: 8px;
  background: linear-gradient(180deg, #f9fafc, #eef2ff);

  position: absolute;
  right: 25%;
  /* top:15%; */
  margin: 0 auto;
  z-index: 1;
  border-radius: 10px;
}

.gastosContainer {
  /* background-color: rgb(187, 187, 187); */
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
}
.tranfCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerDay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;
}

.DaysContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.Contenedor {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  width: 330px;
  height: 320px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 15px;
  border: solid 2.5px black;
}

.dayListButton {
  display: flex;
  font-size: 20px;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 32px;
  height: 32px;
  margin: 4px;
  cursor: pointer;
  border: none;

  padding: 3px;
  border-radius: 8px;
  padding: 6px;
  transition: 0.15s;
}

.dayListButton:hover {
  font-weight: bold;
  background: #dae2fd;
  cursor: pointer;
}

.pDate {
  font-size: 10px !important;
}

.dayActive {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 12px;
  top: 12px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 88, 88);
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.dayActive:hover {
  background-color: rgb(255, 88, 88);
  color: #fff;
}

.number {
  width: 90px;
  border: none;
  margin: 3px;
  border-radius: 5px;
  height: 10px;
  padding: 12px;
}
.text {
  border: none;
  border-radius: 5px;
  height: 10px;
  padding: 12px;
  margin: 3px;
}

ul {
  padding: 0;
}

.btn-send:hover {
  background-color: rgb(97, 185, 212);
}
.btn-send {
  background-color: rgb(151, 237, 247);
}

.hiden {
  display: none;
}

.visible {
  display: block;
}

.date {
  background-color: rgb(187, 187, 187);
  padding: 8px;
  border-radius: 8px;
}

.noEf {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.hidden {
  background-color: rgb(57, 21, 21);
  border: none;
  border-radius: 10px;
  width: 330px;
  height: 320px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 15px;
}

@media (min-width: 100px) and (max-width: 700px) {
  .days {
    width: 355px;
    left: 3%;
  }
}

